<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">

	<insert id="register" parameterType="bvo">
		insert into board(title,writer,content,image_file) values(#{title},#{writer},#{content},#{image_file})
	</insert>
	<select id="list" resultType="bvo">
	select bno, title, writer, reg_date, read_count from board order by bno desc
	</select>
	<select id="detail" parameterType="bvo" resultType="bvo">
	select * from board where bno = #{bno}
	</select>
 <select id="modify" parameterType="int" resultType="bvo">
 	select * from board where bno = #{bno}
 </select>
 
 <update id="update" parameterType="bvo">
 	update board set title = #{title}, content= #{content}, image_file = #{image_file} where bno = #{bno}
 </update>
 <delete id="remove" parameterType="bvo">
 	delete from board where bno = #{bno}
 </delete>
 
 <update id="readCount" parameterType="bvo">
 update board set read_count = read_count+1 where bno = #{bno}
 </update>

<select id="cnt" resultType="int">
	select count(bno) from board
</select>

<select id="pagingList" parameterType="pgvo" resultType="bvo">
select bno, title, writer, reg_date, read_count, image_file from board order by bno desc limit #{pageStart}, #{qty}
</select>

<select id="myList" parameterType="String" resultType="bvo">
select bno, title, writer, reg_date, read_count from board where writer = #{email}
</select>

<select id="myList2" parameterType="pgvo" resultType="bvo">
select bno, title, writer, reg_date, read_count from board where writer = #{nick_name} order by bno desc limit #{pageStart}, #{qty}
</select>
<select id="imgFile" parameterType="int" resultType="string">
select image_file from board where bno = #{bno}
</select>
</mapper>